{% extends "home.html" %}

{% block content %}
    <form action="" method="post" class="crossword-add-word-form">
        {% csrf_token %}
        {% for field in form %}
        <div class="crossword-add-word-form-field-wrapper">

            <div class="crossword-add-word-form-field-label-caption">
                <label class="crossword-add-word-form-field-label-caption" >
                    {{ field.label }}
                </label>
            </div>
            {{ field }}
            {% if field.errors %}
                <ol class="errorlist">
                {% for error in field.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ol>
            {% endif %}
        </div>
        {% endfor %}
        <input type="submit" value="Create" class="crossword-add-word-form-submit-button" />
    </form>
{% endblock %}
