{% extends "home.html" %}
{% load staticfiles %}
{% block navigation %}
{% if user.is_authenticated %}
    <div class="left_navigation">
        <a href="{% url "add_word" %}">
            <button class="btn btn-success">Add word</button>
        </a>
    </div>

    <form class="right_navigation" action="{% url 'crossword' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-success" type="submit" value="Generate crossword" />
    </form>
{% endif %}
{% endblock %}

{% block content %}
    <button id="prev" class="btn btn-success" offset="0" url="{% url 'words_list' %}">Prev</button>
    <button id="next" class="btn btn-success" limit="20" url="{% url 'words_list' %}">Next</button>
    <div class="table-wrapper">
        <table class="crossword-table-ingridients">
            <caption>
                Existing words:
            </caption>
            <tr>
                <th>Name</th>
                <th>Questions</th>
                <th>Questions difficulty</th>
            </tr>
            {% for word in words %}
                <tr class="crossword-table-ingridients-words">
                    <td>{{ word.name }}</td>
                    <td>{{ word.question }}</td>
                    <td class="difficulty">{{ word.question.difficulty }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No existing words.</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="table-wrapper">
        <table class="crossword-table-ingridients">
            <caption>
                    Existing questions:
                </caption>
                <tr>
                    <th>Question</th>
                    <th>Difficulty</th>
                </tr>
                {% for question in questions %}
                    <tr class="crossword-table-ingridients-words">
                        <td>{{ question.question }}</td>
                        <td class="difficulty">{{ question.difficulty }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">No existing questions.</td>
                    </tr>
                {% endfor %}
        </table>
    </div>
{% endblock %}