{% extends "home.html" %}

{% block content %}
	<div>
     <a href="{% url "add_word" %}"><button class="btn btn-success">Add word</button></a>
    <br/>
    <a href="{% url "crossword" %}"><button class="btn btn-success">Wygeneruj lipna krzyzowke</button></a>
    <br/>
    <table id="word-table">
    <caption>
        Istniejące słowa:
    </caption>
    <tr>
        <th>Name</th>
        <th>Questions</th>
        <th>Categories</th>
    </tr>
    {% for word in words %}
        <tr>
            <td>{{ word.name }}</td>
            <td>{{ word.question }}</td>
            <td>{{ word.question.categories }}</td>
        </tr>
    {% endfor %}
    </table>
	</div>

    <div>
    <table id="category-table">
    <caption>
        Istniejące pytania:
    </caption>
    <tr>
        <th>Question</th>
        <th>Categories</th>
    </tr>
	{% for question in questions %}
		<tr>
            <td>{{ question.question }}</td>
            <td>{{ question.categories }}</td>
        </tr>
	{% endfor %}
    <br/>
    </table>
	</div>

{% endblock %}
