{% extends "home.html" %}
{% block content %}
{% if crossword.success %}
    <div class="component-wrapper">
        <div class="col-lg-9 crossword-table-wrapper">
            <table class="crossword-table">
                <tbody>
                {% for row in crossword.result %}
                    <tr class="crossword-table-row">
                    {% for char, is_result in row %}
                        {% if char == "" %}
                            <td class="crossword-table-cell empty">
                        {% else %}
                            <td class="crossword-table-cell">
                        {% endif %}
                            <span class="crossword-table-cell-label {% if is_result %}result{% endif %}">
                                {{ char }}
                            </span>
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-3 crossword-questions-wrapper">

        </div>
    </div>
{% else %}
    {{ crossword.result }}
{% endif %}
{% endblock %}