{% extends "home.html" %}
{% block content %}
{% if crossword.success %}
    <div class="component-wrapper col-lg-12">
        <div class="col-lg-9 crossword-table-wrapper">
            <table class="crossword-table">
                <tbody>
                {% for row in crossword.result %}
                    <tr class="crossword-table-row">
                    {% for char, is_result in row %}

                            <td class="crossword-table-cell{% if char == "" %} empty{% endif %} {% if is_result %} result{% endif %}">
                            <span class="crossword-table-cell-label ">
                                {{ char }}
                            </span>
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-3 crossword-questions-wrapper">

        </div>
    </div>
{% else %}
    {{ crossword.result }}
{% endif %}
{% endblock %}