<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Dawid Kostyszak, Andrzej Kudas, Paweł Jański">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    <!-- Custom styles for this template -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/crossword.css' %}">
    <link rel="stylesheet" href="{% static 'css/jumbotron.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/crossword.js' %}"></script>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'words' %}">CrosswordApp</a>
        </div>
        <div class="navbar-collapse collapse">

            {% if user.is_authenticated %}
            <form class="navbar-form navbar-right" action="{% url 'logout' %}" method="post">{% csrf_token %}
                <button type="submit" class="btn btn-danger">Sign out</button>
            </form>
            {% else %}
            <a class="navbar-form navbar-right" href="{% url 'login' %}">
                <button type="submit" class="btn btn-success">Sign in</button>
            </a>
            <a class="navbar-form navbar-right" href="{% url 'registry' %}">
                <button type="submit" class="btn btn-info">Registry</button>
            </a>
            {% endif %}

        </div><!--/.navbar-collapse -->

      </div>
    </div>

    <div class="navigation">
        {% block navigation %}{% endblock %}
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">

        {% block content %}
		{% endblock %}

      </div>

      <hr>
      <footer>
        <p>Copyright &copy; {% now "Y" %}</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>

