@import "utils.scss";
$cell-height: 45px;
$component-name: crossword;

.component-wrapper{
  height: 100%;
  .#{$component-name}-table{
  table-layout: fixed;

  .#{$component-name}-table-row{

    .#{$component-name}-table-cell{
      height: $cell-height;
      width: $cell-height;
      border: 2px solid black;
      position: relative;


      .#{$component-name}-table-cell-label{
        @include centre();
        overflow: hidden;
        font-size: 14px;
        font-weight: 600;
      }
    }
    .empty{
      border: 0px;

    }
    .result{
      background: #c4e3f3;
      .#{$component-name}-table-cell-label{
        font-weight: 700;
      }
    ;
    }
  }
}
  .#{$component-name}-questions-wrapper{
      height:110px;
      background: #999;
  }
}

#words-table, #questions-table {
  caption {
    font-weight: 700;
    font-size: 24px;
  }
  width: 100%;
  table-layout: fixed;
}

.navigation {
  height: 50px;
  background: lightgrey;
  .left_navigation, .right_navigation {
    margin-top: 8px;
    text-decoration: none;
  }
  .left_navigation {
    float: left;
    margin-left: 30px;
  }
  .right_navigation {
    float: right;
    margin-right: 30px;
  }
}
li {
  list-style: none;
}
.errorlist {
  color: red;
}
.hidden {
  display: none !important;
}