.component-wrapper {
  height: 100%; }
  .component-wrapper .crossword-table {
    table-layout: fixed; }
    .component-wrapper .crossword-table .crossword-table-row .crossword-table-cell {
      height: 45px;
      width: 45px;
      border: 2px solid black;
      position: relative; }
      .component-wrapper .crossword-table .crossword-table-row .crossword-table-cell .crossword-table-cell-label {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        overflow: hidden;
        font-size: 14px;
        font-weight: 600; }
    .component-wrapper .crossword-table .crossword-table-row .empty {
      border: 0px; }
    .component-wrapper .crossword-table .crossword-table-row .result {
      background: #c4e3f3; }
      .component-wrapper .crossword-table .crossword-table-row .result .crossword-table-cell-label {
        font-weight: 700; }
  .component-wrapper .crossword-questions-wrapper {
    height: 110px;
    background: #999; }

.table-wrapper {
  padding: 10px; }
  .table-wrapper .crossword-table-ingridients {
    table-layout: fixed;
    width: 100%;
    border-bottom: 1px solid #47a447;
    max-height: 500px;
    overflow: auto; }
    .table-wrapper .crossword-table-ingridients caption {
      text-align: left;
      padding: 3px;
      font-weight: 700;
      font-size: 20px;
      background: #e7e7e7;
      border-bottom: 1px solid #47a447; }
    .table-wrapper .crossword-table-ingridients th {
      background: #449d44;
      border-bottom: 1px solid #47a447;
      color: #ffffff;
      text-align: center; }
    .table-wrapper .crossword-table-ingridients .crossword-table-ingridients-words {
      background: #fbfbfb; }
      .table-wrapper .crossword-table-ingridients .crossword-table-ingridients-words td {
        padding-left: 25px; }
        .table-wrapper .crossword-table-ingridients .crossword-table-ingridients-words td.difficulty {
          text-align: center; }
      .table-wrapper .crossword-table-ingridients .crossword-table-ingridients-words:nth-child(2n) {
        background: #f8f8f8; }

.navigation {
  height: 50px;
  background: lightgrey; }
  .navigation .left_navigation, .navigation .right_navigation {
    margin-top: 8px;
    text-decoration: none; }
  .navigation .left_navigation {
    float: left;
    margin-left: 30px; }
  .navigation .right_navigation {
    float: right;
    margin-right: 30px; }

li {
  list-style: none; }

.errorlist {
  color: red; }

.hidden {
  display: none !important; }
